$background-color: #1f2141;
$board-color: #51bece;
$board-hover-color: #3ca6b6;
$board-border-color: #222222;
$ship1-color: #db92a5;
$ship2-color: #8d82cf;
$ship3-color: #18e756;
$ship4-color: #f0d2cc;
$ship5-color: #93a879;
$button-color: #b4cbff;
$button-hover-color: #abc0f2;


html {
	box-sizing: border-box;
	background-color: $background-color;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/table.jpg");
	color: moccasin;
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 94vh;
		width: 90vw;
		padding: 2vh 4vw;
		header {
			text-align: center;
			margin: min(10px, 2vh);
		}
		#tips {
			text-align: center;
			font-size: large;
		}
		#boards {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: clamp(20px, 8vw, 100px);
			$board-width: min(min(600px, 65vw), 65vh);
			$board-height: $board-width;
			.board {
				display: grid;
				width: $board-width;
				grid-template: repeat(9, calc($board-height / 9)) / repeat(
						9,
						calc($board-height / 9)
					);
				border: 1px solid $board-border-color;
				background-color: $board-color;
			&#board-2 {
				&.invalid {
					.cell{
						cursor: not-allowed;
					}
				}
				.cell {
					cursor: pointer;
					&:hover:not(.ship) {
						background-color: $board-hover-color;
					}
				}
			}
			}
			.cell {
				border: 2px solid $board-border-color;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				&.ship1 {
					background-color: $ship1-color;
				}
				&.ship2 {
					background-color: $ship2-color;
				}
				&.ship3 {
					background-color: $ship3-color;
				}
				&.ship4 {
					background-color: $ship4-color;
				}
				&.ship5 {
					background-color: $ship5-color;
				}
				.hit {
					background-color: red;
					border-radius: 50%;
					width: 50%;
					height: 50%;
				}
				.miss {
					background-color: white;
					border-radius: 50%;
					width: 50%;
					height: 50%;
				}
				&.blocked {
					pointer-events: none;
				}
			}
		}
		@media (max-width: 950px) {
			#boards {
				flex-direction: column;
				gap: 50px;
				height: 100%;
				overflow-y: auto;
			}
		}
		footer {
			text-align: center;
			margin-top: 20px;
			a {
				color: moccasin;
			}
		}
	}
}

button {
	border: 1px solid $board-border-color;
	border-radius: 10px;
	font-size: large;
	cursor: pointer;
	align-self: center;
	padding: 5px 15px;
	background-color: $button-color;
	color: black;
	margin: 15px 0; 
	&:hover {
		background-color: $button-hover-color;
	}
	&:focus {
		background-color: $button-hover-color;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: moccasin;
		align-items: center;
		justify-content: center;
		gap: 20px;
		color: black;
		margin: auto;
		margin-top: 10%;
		padding: 10px;
		border: 2px solid $board-border-color;
		border-radius: 15px;
		min-height: max(10%, 80px);
		width: max(15%, 250px);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		animation-name: animatetop;
		animation-duration: 0.4s;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
